<p id="notice"><%= notice %></p>

<p>
  <strong>Team 1:</strong>
  <%= @datum.team_1 %>
</p>

<p>
  <strong>Team 2:</strong>
  <%= @datum.team_2 %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
